<html>
  <head></head>
  <body>

  {% include 'header.tmpl' %}
	Главная
	<ul>
    <li>
        <p>
            <a href="?p=images" class="product__name">Картинки</a>
        </p>
    </li>
</ul>
 {% include 'footer.tmpl' %}
</html>
